git+https://github.com/openai/whisper.git
flask
ffmpeg-python
PyPDF2
pdfminer.six
python-docx
python-pptx
spacy==3.5.3
en-core-web-sm==3.5.3
requests
pandas
numpy
transformers
groq 
langchain-groq
langchain
opencv-python-headless
streamlit
pytesseract
