git+https://github.com/openai/whisper.git
flask
ffmpeg-python
PyPDF2
pdfminer.six
python-docx
python-pptx
spacy
requests
pandas
numpy
transformers
groq 
langchain-groq
langchain
opencv-python-headless
streamlit
pytesseract
